In [122]:
#Task1
import pandas as pd;

df = pd.read_csv(r"C:\Personal\Study Materials\AI\Week2\Dataset\bank.csv")
print(df.info())
obj_cols = df.select_dtypes(include='object').columns.tolist()
print("Object columns: ",obj_cols)
for col in obj_cols:
    print(f"\nColumn: {col}")
    print(df[col].value_counts(dropna=False))
    
null_counts = df.isnull().sum()
print("\nNull Counts\n",null_counts)

df_numeric = df.select_dtypes(exclude = "object").copy()
print(df_numeric.info())
df_numeric.to_csv("banknumericdata.csv",index = False)

df_num2 = pd.read_csv("banknumericdata.csv")
summary = df_num2.describe(include = "all")
print(summary)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None
Object columns:  ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome', 'y']

Column: job
job
blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: count, dtype: int64

Column: marital
marital
married     27214
single      12790
divorced     5207
Name: count, dtype: int64

Column: education
education
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: count, dtype: int64

Column: default
default
no     44396
yes      815
Name: count, dtype: int64

Column: housing
housing
yes    25130
no     20081
Name: count, dtype: int64

Column: loan
loan
no     37967
yes     7244
Name: count, dtype: int64

Column: contact
contact
cellular     29285
unknown      13020
telephone     2906
Name: count, dtype: int64

Column: month
month
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: count, dtype: int64

Column: poutcome
poutcome
unknown    36959
failure     4901
other       1840
success     1511
Name: count, dtype: int64

Column: y
y
no     39922
yes     5289
Name: count, dtype: int64

Null Counts
 age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       45211 non-null  int64
 1   balance   45211 non-null  int64
 2   day       45211 non-null  int64
 3   duration  45211 non-null  int64
 4   campaign  45211 non-null  int64
 5   pdays     45211 non-null  int64
 6   previous  45211 non-null  int64
dtypes: int64(7)
memory usage: 2.4 MB
None
                age        balance           day      duration      campaign  \
count  45211.000000   45211.000000  45211.000000  45211.000000  45211.000000
mean      40.936210    1362.272058     15.806419    258.163080      2.763841
std       10.618762    3044.765829      8.322476    257.527812      3.098021
min       18.000000   -8019.000000      1.000000      0.000000      1.000000
25%       33.000000      72.000000      8.000000    103.000000      1.000000
50%       39.000000     448.000000     16.000000    180.000000      2.000000
75%       48.000000    1428.000000     21.000000    319.000000      3.000000
max       95.000000  102127.000000     31.000000   4918.000000     63.000000

              pdays      previous
count  45211.000000  45211.000000
mean      40.197828      0.580323
std      100.128746      2.303441
min       -1.000000      0.000000
25%       -1.000000      0.000000
50%       -1.000000      0.000000
75%       -1.000000      0.000000
max      871.000000    275.000000

In [24]:
#Task2
import pandas as pd;
df = pd.read_csv(r"C:\Personal\Study Materials\AI\Week2\Dataset\medical_students_dataset.csv")
df.info()
null_count = df.isnull().sum()
print("\nMissing values per column:\n", null_count)
df["Age"].fillna(df["Age"].median(), inplace=True) #used median instead of mean as median works better if outliers exist
df["Gender"].fillna(df["Gender"].mode()[0], inplace = True) #Using mode to replace nan with most repeated category
df['Height'].fillna(df['Height'].median(), inplace=True)
df['Weight'].fillna(df['Weight'].median(), inplace=True)
df['BMI'].fillna(df['BMI'].median(), inplace=True)
df['Temperature'].fillna(df['Temperature'].mean(), inplace=True)   # stable
df['Heart Rate'].fillna(df['Heart Rate'].median(), inplace=True)
df['Blood Pressure'].fillna(df['Blood Pressure'].median(), inplace=True)
df['Cholesterol'].fillna(df['Cholesterol'].median(), inplace=True)
df['Gender'].fillna(df['Gender'].mode()[0], inplace=True)
df['Blood Type'].fillna(df['Blood Type'].mode()[0], inplace=True)
df['Diabetes'].fillna(df['Diabetes'].mode()[0], inplace=True)
df['Smoking'].fillna(df['Smoking'].mode()[0], inplace=True)
df["Student ID"].fillna(-1, inplace = True)
# df.isnull().sum()
df.duplicated().sum()
df = df.drop_duplicates()

print("\nMissing values after imputation:")
print(df.isnull().sum())

print("\nFinal shape after duplicate removal:")
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Student ID      180000 non-null  float64
 1   Age             180000 non-null  float64
 2   Gender          180000 non-null  object
 3   Height          180000 non-null  float64
 4   Weight          180000 non-null  float64
 5   Blood Type      180000 non-null  object
 6   BMI             180000 non-null  float64
 7   Temperature     180000 non-null  float64
 8   Heart Rate      180000 non-null  float64
 9   Blood Pressure  180000 non-null  float64
 10  Cholesterol     180000 non-null  float64
 11  Diabetes        180000 non-null  object
 12  Smoking         180000 non-null  object
dtypes: float64(9), object(4)
memory usage: 19.8+ MB

Missing values per column:
 Student ID        20000
Age               20000
Gender            20000
Height            20000
Weight            20000
Blood Type        20000
BMI               20000
Temperature       20000
Heart Rate        20000
Blood Pressure    20000
Cholesterol       20000
Diabetes          20000
Smoking           20000
dtype: int64

Missing values after imputation:
Student ID        0
Age               0
Gender            0
Height            0
Weight            0
Blood Type        0
BMI               0
Temperature       0
Heart Rate        0
Blood Pressure    0
Cholesterol       0
Diabetes          0
Smoking           0
dtype: int64

Final shape after duplicate removal:
(187121, 13)

In [ ]:
#Task 3
df = pd.read_csv(r"\Personal\Study Materials\AI\Week2\Dataset\Titanic-Dataset.csv")
subset = df[['Name', 'Pclass', 'Sex', 'Age', 'Fare', 'Survived']]